{%extends "index.html"%}
{%block content%}
<table width="90%" align="center">
    <tr>
        <td><img src="../static/images/simple_linear_regression.png" alt="Régression linéaire"/></td>
        <td><h4>Droite de régression linéaire Récolte annuelle / nombre d'heures de travail</h4></td>
    </tr>
    <tr>
        <td><h4>Droite de régression linéaire Récolte annuelle / nombre d'opérations phytosanitaires</h4></td>
        <td><img src="../static/images/simple_linear_regression2.png" alt="Régression linéaire"/></td>
        
    </tr>
</table>
{%endblock%}
